<%- include('partials/header') %>

<div class="animated-background">
  <div class="containerlogin centered">
    <div class="row justify-content-center">
      <div class="col-sm-8">
        <div class="card custom-card">
          <div class="card-body custom-card-body">
            <h1 class="login-title">Login</h1>
            <!-- Makes POST request to /login route -->
            <form action="/login" method="POST" class="login-form">
              <div class="form-group custom-form-group">
                <label for="email" class="custom-label">Email</label>
                <input type="email" class="form-control custom-input" name="username">
              </div>
              <div class="form-group custom-form-group">
                <label for="password" class="custom-label">Password</label>
                <input type="password" class="form-control custom-input" name="password">
              </div>
              <button type="submit" class="btn custom-btn">Login</button>
            </form>
          </div>
        </div>
      </div>
      <div class="col-sm-8 mt-3">
        <div class="card custom-card">
          <div class="card-body custom-card-body">
            <a class="btn custom-google-btn" href="/auth/google" role="button">
              <i class="fab fa-google"></i>
              Sign In with Google
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('partials/footer') %>
