<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">You've Discovered My Secret!</h1>
    <p class="secret-text" id="secretText">
      <% secret.split('').forEach((letter, index) => { %>
        <span class="reveal-letter" style="animation-delay: <%= index * 0.1 %>s;"><%= letter %></span>
      <% }); %>
    </p>
    <hr>

    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a>
  </div>
</div>

<%- include('partials/secretfooter') %>

<script>
  // JavaScript to trigger the reveal animation
  document.addEventListener('DOMContentLoaded', function () {
    const revealLetters = document.querySelectorAll('.reveal-letter');

    revealLetters.forEach((letter, index) => {
      setTimeout(() => {
        letter.classList.add('reveal');
      }, index * 100);
    });
  });
</script>
